/*
style='margin:0;padding:0;font-size:12;font-family:Helvetica;'
*/

* {
	padding:0 !important;
	margin:0 !important;
	padding:0 !important;

	/*font-size:12px !important;*/
	font-family:Helvetica !important;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
   	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}

body {
	width:320px;
}

.clear {
	clear:both;
}

.hfrplusimg {
	/*display:inline;
	padding:5px !important;*/
	margin:2px !important;
	/*border: 1px solid silver;*/
}

img {
	max-width:300px;
}

div.edited, span.signature {
	display:none;
}

table 
{ 
	border: 1px solid silver;
	padding: 4px !important;
	width:100%;
	max-width:300px;
	margin-bottom:5px !important;
}
table p
{
	max-width:300px;
	overflow-x:hidden;
}

table .s1 a {
	font-weight:bold !important;
	text-decoration:underline !important;
	color:black !important;
}


div.masque {
	visibility:hidden;
}


.message {
	width:320px;
	overflow:hidden;
	/*background-color:#F6F8FA;*/

}

.message.del {
	opacity:0.5;
}
.message.mode .content {
	background-color: #FEE;
}

.anchorlink {
	display:block;
}

.message .header {
	height:34px;
	width:300px;
	padding:0 10px !important;
	margin-top:5px !important;

	border-top:1px solid #717d85;
	
	border-bottom:1px solid #989ea4;
/*
	background:#369;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	background:darkgrey
	background-image: url(bar2.png);
	background-size: 100% 100%;	*/

background:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(164,178,189)),
    color-stop(1, rgb(140,156,169))
);
/*-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.16, rgb(219,226,234)),
    color-stop(0.68, rgb(237,240,244))
)*/			
}

.message .header .left2 {
	text-align:left;
	float:left;
	width:56px;
	height:30px;
	margin-top:1px !important;
	
	border:1px solid #717d85;

	background-size: cover;
	background-color: white;
	background-repeat: no-repeat;

	/*
	background-size: 100% 100%;	
	*/
	background-position:center;
}

.message .header .left {
	margin-left:10px !important;
	/*margin-top:2px !important;*/

	font-size:13px !important;
	line-height:20px;
	color:white;
	float:left;
	font-weight:bolder;
	width:180px;
	text-shadow: #555 0px 1px 1px;	
	height:19px;
	
}

.message .header .leftdate {
	margin-left:10px !important;

	font-size:9px !important;
	line-height:14px;
	color:white;
	float:left;
	font-weight:bold;
	width:180px;
	text-shadow: #555 0px 1px 1px;	
	height:14px;
	
}

.message .header .right {
	height:34px;
	float:right;
	/*margin-right:11px !important;

	font-size:9px !important;
	line-height:40px;
	color:#555;	float:right;
	text-align:right;

	width:20px;

	font-weight:bold;	
	margin-top:2px !important;
	text-shadow: white 0px 1px 1px;	

	text-shadow: black 0px 1px 1px;*/
	
}

.message .header .right a.small.awesome, .message .header .right a.small.awesome:visited {
	font-size: 15px !important;
}

.message .header .right a.awesome, .message .header .right a.awesome:visited {
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 3px;
	background:#8897a4 url(alert-overlay.png) repeat-x;/* -webkit-gradient(
    linear,
    left bottom,
    left top,
	color-stop(0.16, rgb(74,108,155)),
    color-stop(0.33, rgb(71,105,153)),
    color-stop(0.87, rgb(142,164,193))
);
 */
	border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	color: white;
	cursor: pointer;
	padding: 3px 8px 4px !important;
	font-weight:bold;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 1px;
}

.message .header .right a {
	margin-top:3px !important;

	color: #2DAEBF;
	line-height: inherit;
	outline: 0px;
	text-decoration: none;
}

.message .content {
	padding:10px 0 !important;
	/*background:-webkit-gradient(
    linear,
    left 20,
    left top,
    color-stop(0.66, rgb(255,255,255)),
    color-stop(1, rgb(237,240,244)),
    color-stop(1, rgb(237,240,244))
);*/
}


.message .content .right {
	margin-right:10px !important;
	text-align:left;
	float:right;
	width:300px;
	overflow:hidden;	
}
.message .content .right * {
	font-size:12px !important;	
}

.message .content .right a {
	color:#2470d8;
	
}

.message .content .right ol, ul
{
	margin:1em 0px !important;
	padding-left:20px !important
}

.message .content .right table.code * {
	font-size:9px !important;
}

#actualiserbtn {
	color:#2470d8;
	line-height:44px;
	font-size:15px !important;
	font-weight:bold;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	text-align:center;
	width:320px;
}

#actualiserbtn.loading {
	background-image: url(loadinfo.gif);
	background-repeat: no-repeat;
	background-position: 99px 14px;
	background-size: 15px;
}

#toolbarpage {
	color:#FFF;
	line-height:43px;
	font-size:15px !important;
	font-weight:bold;
	border-top:1px solid #000;
	text-align:center;
	position:relative;
	background-image: url(toolbar3.png);
	height:43px;
	width:320px;
}
#toolbarpage a{
	color:#FFF;
	text-decoration:none;
}
/*38x31*/
#toolbarpage .button {
	position:absolute;
	width:39px;
	height:30px;
	top:7px;
}

#toolbarpage .button a {
	width:39px;
	height:30px;
	display:block;
	text-indent: -100px;
	overflow: hidden;
}

#toolbarpage .button.begin {
	left:6px;
	background-image:url(buttonbeginoff.png);
}
#toolbarpage .button.begin.active {
	background-image:url(buttonbeginon.png);
}
#toolbarpage .button.begin.hover {
	background-image:url(buttonbeginhover.png);
}
#toolbarpage .button.end {
	right:6px;
	background-image:url(buttonendoff.png);
}
#toolbarpage .button.end.active {
	background-image:url(buttonendon.png);
}
#toolbarpage .button.end.hover {
	background-image:url(buttonendhover.png);
}

#toolbarpage .button2 {
	position:absolute;
	width:32px;
	height:30px;
	top:7px;
}

#toolbarpage .button2 a {
	width:32px;
	height:30px;
	display:block;
	text-indent: -100px;
	overflow: hidden;
}

#toolbarpage .button2.begin {
	left:55px;
	background-image:url(buttonpreviousoff.png);
}
#toolbarpage .button2.begin.active {
	background-image:url(buttonpreviouson.png);
}
#toolbarpage .button2.begin.hover {
	background-image:url(buttonprevioushover.png);
}
#toolbarpage .button2.end {
	right:55px;
	background-image:url(buttonnextoff.png);
}
#toolbarpage .button2.end.active {
	background-image:url(buttonnexton.png);
}
#toolbarpage .button2.end.hover {
	background-image:url(buttonnexthover.png);
}

.u {
	text-decoration:underline;
}

.smileycustom {
	max-height:30px;
}


@media only screen and (orientation:landscape){
	/* landscape styles here */
	
	body {
		width:480px;
	}

	.message {
		width:480px;
	}
	
	.message .header {
		width:460px;
	}
	
	.message .content .right {
		width:460px;
	}

	table 
	{ 
		max-width:460px;
		
	}
	
	table p
	{
		max-width:460px;
	}
	
	#toolbarpage {
		
		width:480px;
	}
	
	#actualiserbtn {

		width:480px;
	}

	#actualiserbtn.loading {
		background-position: 180px 14px;
	}	
}