/*
style='margin:0;padding:0;font-size:12;font-family:Helvetica;'
*/

* {
	padding:0 !important;
	margin:0 !important;

	font-size:13px;
	font-family:Helvetica;
	line-height:17px;
	
	-webkit-text-size-adjust: none;

}

body {
	
	width:320px;
	
}

img {
    max-width: 298px;
}

a {
	color:#2470d8;
	text-decoration: none;
}

#qsdoiqjsdkjhqkjhqsdqdilkjqsd2 {
	padding:10px !important;
	padding-bottom:54px !important;
}

#qsdoiqjsdkjhqkjhqsdqdilkjqsd2 a {
	color:#2470d8;
	text-decoration: underline;
}

div.edited {
	font-style: italic;
	text-align: right;
	font-size:10px;
	margin-top:10px !important;
	line-height:10px;
}

div.edited a {
	color:black !important;
	font-size:10px;
	
}
table 
{ /* .citation */
	border: 1px solid silver;
	padding: 4px !important;
	width:100%;
	max-width:300px;
	margin-bottom:5px !important;
	
/*	overflow-x:hidden;*/
}

table p
{ /* .citation */
	max-width:300px;
	overflow-x:hidden;
}

table p img
{
	max-width:280px;
	overflow-x:hidden;
}

table .s1 a {
	font-weight:bold !important;
	text-decoration:underline !important;
	color:black !important;

}

table ol, ul
{
	margin:1em 0px !important;
	padding-left:20px !important
}

table.code * {
	font-size:9px !important;
}


div.masque {
	visibility:hidden;
}

.u {
	text-decoration:underline;
}

.smileycustom {
	max-height:30px;
}


@media only screen and (orientation:landscape) {
    /* landscape styles here */

	body {
		width:480px;
	}
    
    img {
        max-width:460px;
    }
    
	table 
	{ 
		max-width:460px;
		
	}
    
	
	table p
	{
		max-width:460px;
	}
    
    table p img
    {
        max-width:440px;
    }
    
}

@media only screen and (orientation:landscape) and (min-width: 568px) and (max-width: 568px) {
	 /* landscape styles here */
	
	body {
		width:568px;
	}
    
    img {
        max-width:548px;
    }
    
	table 
	{ 
		max-width:548px;
		
	}
    
	
	table p
	{
		max-width:548px;
	}
    
    table p img
    {
        max-width:528px;
    }
    
        
}



@media only screen and (min-width: 767px) {
	body {
		width:768px;
	}
    
    img {
        max-width:748px;
    }
    
	table 
	{ 
		max-width:748px;
		
	}
    
    table p
    { 
        max-width:748px;

    }   
    
    table p img
    {
        max-width:728px;
    }    
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
	body {
		width:703px;
	}
    
    img {
        max-width:683px;
    }

    table
    { 
        max-width:683px;
    } 
    
    table p
    { 
        max-width:683px;
    }    
    
    table p img
    {
        max-width:663px;
    }    
}
