* {
	padding:0;
	margin:0;
	font-family:Helvetica;
}

body {
	padding:10px;
}

h1 {
	font-size:15px;
}

ul {
	font-size:12px;
	margin:10px 5px 10px 10px;
	list-style:disc outside none;
}

li {
	/*padding:10px;*/
	margin-left:10px;
	margin-bottom:5px;	
}

p {
	font-size:12px;
	margin:10px 5px 10px 0px;
}