<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Général</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>all</string>
			<key>Key</key>
			<string>landscape_mode</string>
			<key>Title</key>
			<string>Mode Paysage</string>
			<key>Titles</key>
			<array>
				<string>Désactivé</string>
				<string>Editeur et Photos</string>
				<string>Activé</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>none</string>
				<string>galerie_message</string>
				<string>all</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>default_tab</string>
			<key>Title</key>
			<string>Onglet par defaut</string>
			<key>Titles</key>
			<array>
				<string>Catégories</string>
				<string>Vos Sujets</string>
				<string>Messages</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Liste des messages</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ActionsMessages</string>
			<key>Title</key>
			<string>Actions</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>no</string>
			<key>Key</key>
			<string>display_images</string>
			<key>Title</key>
			<string>Afficher les images</string>
			<key>Titles</key>
			<array>
				<string>Jamais</string>
				<string>Wifi</string>
				<string>Toujours</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>no</string>
				<string>wifi</string>
				<string>yes</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>http</string>
			<key>Key</key>
			<string>default_web</string>
			<key>Title</key>
			<string>Ouvrir les liens</string>
			<key>Titles</key>
			<array>
				<string>Safari</string>
				<string>Google Chrome</string>
				<string>Navigateur interne</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>http</string>
				<string>googlechrome</string>
				<string>internal</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Maintenance</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>Vider le cache</string>
			<key>Key</key>
			<string>EmptyCacheButton</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Debug</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>Title</key>
			<string>CHECKPOINT</string>
			<key>Key</key>
			<string>SetCheckpoint</string>
		</dict>
	</array>
</dict>
</plist>
