<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>:)</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smile.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:(</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/frown.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:o</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/redface.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:D</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/biggrin.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>;)</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/wink.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:p</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/tongue.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:&apos;(</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/ohill.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:??:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/confused.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:whistle:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/whistle.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:wahoo:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/wahoo.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:vomi:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/vomi.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:sweat:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/sweat.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:sum:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/sum.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:spookie:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/spookie.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:spamafote:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/spamafote.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:sol:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/sol.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:sleep:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/sleep.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:sarcastic:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/sarcastic.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:pt1cable:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/pt1cable.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:pouah:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/pouah.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:pfff:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/pfff.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:ouimaitre:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/ouimaitre.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:ouch:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/ouch.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:non:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/non.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:na:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/na.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:mouais:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/mouais.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:mmmfff:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/mmmfff.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:miam:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/miam.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:mad:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/mad.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:love:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/love.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:lol:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/lol.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:kaola:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/kaola.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:jap:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/jap.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:int:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/int.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:hot:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/hot.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:hello:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/hello.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:heink:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/heink.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:hebe:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/hebe.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:hap:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/hap.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:gun:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/gun.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:gratgrat:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/gratgrat.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:fuck:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/fuck.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:fouyaya:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/fouyaya.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:foudtag:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/foudtag.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:fou:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/fou.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:evil:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/evil.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:eek2:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/eek2.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:eek:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/eek.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:dtc:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/dtc.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:cry:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/cry.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:crazy:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/crazy.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:calimero:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/calimero.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:bug:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/bug.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:bounce:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/bounce.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:bic:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/bic.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:benetton:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/benetton.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:ange:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/ange.gif</string>
	</dict>
	<dict>
		<key>code</key>
		<string>:24:</string>
		<key>src</key>
		<string>http://forum-images.hardware.fr/icones/smilies/24.gif</string>
	</dict>
</array>
</plist>
