* {
	padding:0;
	margin:0;
	padding:0;

	/*font-size:12px !important;*/
	font-family:Helvetica !important;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
   	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}

body {
	background:#2e2e2e;
    padding: 10px 10px 38px 10px !important;
    position:relative;
	
}

#container_ajax, #container {
	text-align:center;
    margin: 0 auto;     
}
#container_ajax .loading img {
	vertical-align:middle;
}
#container_ajax .loading {
	color:white;
	font-size:12px !important;
	height:30px;
	width:200px;
	margin:10px auto;
	text-align:center;
}

#container_ajax img.smile, #smileperso img.smile {
	max-height:30px;
	background-image: 	-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, rgb(220,220,220)),
		color-stop(0.47, rgb(244,244,244))
	); 
	border-radius:5px;	
	padding:5px !important;
	margin:4px 3px !important;	
	max-height:30px;
    min-height: 15px;
}
#container_ajax img.smile.selected, #smileperso img.smile.selected {
	background-image: 	-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(83,83,83)),
    color-stop(0.47, rgb(127,127,127))
); 	
}

.button {
    display: inline-block;
	padding:5px !important;
	margin:4px 3px !important;
	height:30px;
	border-radius:5px;
	min-width:25px;
	background-image: 	-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(220,220,220)),
    color-stop(0.47, rgb(244,244,244))
); 	
	position:relative;
}

.button img {
	max-height:30px;
	position:absolute;
	display:inline;
	top:50%;
	left:50%;	
}

#footer {
	clear:both;
}

.button.selected {
	background-image: 	-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(83,83,83)),
    color-stop(0.47, rgb(127,127,127))
); 	
}

@media only screen and (min-width: 480px) {
    #container {

    }
}

@media only screen and (min-width: 540px) {
    #container {

    }
}

@media only screen and (min-width: 568px) {
    #container {

    }
}



body.ios7 {
    background:#bbc2c9;
}

body.ios7 .button {
    background-image: 	-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(255,255,255)),
    color-stop(0.47, rgb(255,255,255))
    );
    border-bottom:1px solid rgb(136,138,142);
}

body.ios7 #container_ajax img.smile, body.ios7 #smileperso img.smile {
    background-image: 	-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(255,255,255)),
    color-stop(0.47, rgb(255,255,255))
    );
    border-bottom:1px solid rgb(136,138,142);
}
body.ios7 .button.selected, body.ios7 #container_ajax img.smile.selected, body.ios7 #smileperso img.smile.selected {
    background-image: 	-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.09, rgb(136,138,142)),
    color-stop(0.47, rgb(136,138,142))
    );
}


#footer
{

}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.bunselected {
    display: inline-block;
    vertical-align: middle;
    width: 99%;
}

@font-face
{
    font-family: "fontello";
    src:url('fontello.ttf');
}

.spinner {
    font-family: fontello !important;
    font-style: normal !important;
    font-weight: normal !important;
    color:white;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

body.ios7 .spinner {
    color: white;

}

.loadingspinner {
    display: table;
    width: 100%;
    height: 100%
}

.loadingspinner .spinner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

body.ios7 .loadingspinner .spinner {
    font-size: 3em;
}

body.ios7 #container_ajax .loading {
    color: white;
}

.animate-spin {

}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

